.container {
      max-width: 1200px;
      width: 100%;
      padding: 20px;
      text-align: center;
      margin: 30px auto;
    }

    .success-image {
      width: 50px;
      height: 50px;
      background-color: var(--mid-green);
      margin: auto;
      font-size: 32px;
      border: none;
      border-radius: 50%;
      color: var(--white);
    }

    .successpageheading {
      font-size: 36px;
      margin: 20px 0 10px;
    }

    .successpageinfo {
      font-size: 18px;
      color: var--(grey);
      margin: 20px auto 30px auto;
      max-width: 400px;
      text-align: center;
    }

    .details-box {
        max-width: 800px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      border: 1px solid var(--light-blue);
      border-radius: 8px;
      padding: 20px;
      margin: 30px auto;
    }

    .details-box div {
      flex: 1;
      min-width: 250px;
      text-align: left;
    }

    .details-box h3 {
      font-size: 22px;
      margin-bottom: 10px;
      color: var(--black);
    }

    .details-box p {
      margin: 10px 0;
      font-size: 16px;
    }

    .btn-group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 20px;
      & img{
        width: 20px;
        height: 20px;
        display: block;
      }
    }

    .btn {
      padding: 12px 20px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1rem;
      transition: 0.3s;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    .btn-primary {
      background: #007bff;
      color: #fff;
    }

    .btn-primary:hover {
      background: #0056b3;
    }

    .btn-secondary {
      background: #f8f9fa;
      color: #007bff;
      border: 1px solid #007bff;
    }

    .btn-secondary:hover {
      background: #e2e6ea;
    }

    /* Responsive */
    @media (max-width: 600px) {
      h1 {
        font-size: 1.5rem;
      }
      .success-icon {
        font-size: 50px;
      }
      .details-box {
        flex-direction: column;
        text-align: left;
      }
    }